.imagenDos {
  width: 100%;
  height: 100%;
}
.img-index{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: 50%;
  border-radius: 0.2rem;
}
.ojo{
  overflow: hidden;
  background-size: cover;
  background-position: 50%;
}
.div-text-1{
  height: 100%;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
}
.div-text{
  height: 100%;
  background-color: white;
  
}
.div-text-2{
  height: 100%;
  background-color: white;
  border-top-right-radius: 0.5rem;
}
.fontsz-text{
  font-size: 18px;
}