.link_cont_men{
    width: 100%;
}
.menu_height{
    height: '70vh'
}

@media (max-width: 1200px){
    .menu_height{
        height: '65vh'
    }
}
@media (max-width: 992px){
    .menu_height{
        height: '60vh'
    }
}
@media (max-width: 768px){
    .menu_height{
        height: '50vh'
    }
}
@media (max-width: 576px){
    .menu_height{
        height: '5vh'
    }
}